*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

main {
  display: grid;
  grid-template-columns: 1.1fr 1.4fr 0.2fr;
  grid-gap: 10px;
}

.aside {
  background-color: #0a2ecd;
  color: white;
  height: 100vh;
  border-top-left-radius: 95%;
  border-bottom-left-radius: 25%;
}

.header {
  display: flex;
  margin-top: 10px;
  position: relative;
}

.comp-name {
  margin-top: 15px;
}

.logo1 {
  margin-right: 15px;
  margin-left: 25px;
  height: 52px;
  width: 50px;
  background-color: #ffff00;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  padding-top: 15px;
  border-radius: 50%;
  font-size: 20px;
  font-weight: 800;
  color: blue;
}

.logo2 {
  margin-right: 15px;
  margin-left: 20px;
  height: 52px;
  width: 50px;
  background-color: #f46f04;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  padding-top: 15px;
  border-radius: 50%;
  font-size: 20px;
  font-weight: 800;
  color: blue;
  position: absolute;
  left: -10px;
}

.name-logo {
  position: relative;
  top: 0px;
  background-color: #0a2ecd;
  color: white;
  height: 100vh;
  border-top-left-radius: 7%;
  border-top-right-radius: 20%;
  border-bottom-right-radius: 45%;
}

.company-name {
  position: relative;
  top: 20%;
  text-align: center;
  font-size: 25px;
}

.app-write-up {
  font-family: 'Quicksand', sans-serif;
  position: relative;
  top: 25%;
  margin: 15px;
  text-align: center;
  line-height: 1.5;
  font-size: 1.18em;
}

.welcome-section {
  position: relative;
  margin: auto;
  width: 95%;
  height: 65%;
  color: #0a2ecd;
  justify-content: center;
}

.welcome {
  padding-bottom: 30px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-self: center;
}

label {
  display: block;
  width: 100px;
  margin-top: 10px;
  margin-left: 80px;
  font-size: 18px;
  padding-top: 10px;
}

#username-label,
#password-label {
  visibility: hidden;
}

input {
  padding: 1rem;
  width: 70%;
  font-size: 18px;
  outline: none;
  margin: 10px 0 0 80px;
  border: none;
}

::-webkit-input-placeholder {
  color: #0a2ecd;
  font-size: 1.2rem;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
::-moz-placeholder {
  color: #0a2ecd;
  font-size: 1.2rem;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
:-ms-input-placeholder {
  color: #0a2ecd;
  font-size: 1.2rem;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
::placeholder {
  color: #0a2ecd;
  font-size: 1.2rem;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

input:focus::placeholder {
  color: transparent;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus::-ms-input-placeholder {
  color: transparent;
}

#username {
  border-bottom: solid 1px #f46f04;
}

input[type='password'] {
  border-bottom: solid 1px #f46f04;
}

input[type='button'],
input[type='submit'] {
  width: 35%;
  cursor: pointer;
  color: #0a2ecd;
}

input[type='button'] {
  background-color: #fde303;
}

input[type='button']:hover {
  color: #f46f04;
  background-color: white;
}

input[type='submit'] {
  background-color: #f46f04;
}

input[type='submit']:hover {
  background-color: #0a2ecd;
  color: #fde303;
}

.actions {
  display: flex;
  width: 85%;
  justify-content: space-between;
  padding-top: 50px;
}
